.header {
    background: #222;
    padding: 0;
}

nav {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
    border-bottom: 1px solid var(--p-content-border-color);
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: var(--p-border-radius);
    transition: background-color 0.2s;
}

.nav-links a.active {
  background-color: var(--p-primary-color);
  color: red;
  font-weight: 600;
}

.nav-links a:hover {
    background-color: var(--p-highlight-background);
    color: crimson;
}

.nav-actions {
    display: flex;
    align-items: center;
    color: white;
}

