.header {
    background: var(--nav-bg);
    padding: 0;
}

nav {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
    border-bottom: 1px solid var(--nav-border);
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--nav-text);
    padding: 0.5rem 1rem;
    border-radius: var(--p-border-radius);
    transition: background-color 0.2s;
}

.nav-links a.active {
    background-color: var(--p-primary-color);
    color: var(--accent);
    font-weight: 600;
}

.nav-links a:hover {
    background-color: var(--p-highlight-background);
    color: var(--nav-hover);
}

.nav-actions {
    display: flex;
    align-items: center;
    color: var(--nav-text);
}

