/* globals.css */

/* Importa le direttive di Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dichiarazioni delle variabili CSS globali */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Aggiungi le variabili a un tema inline per un uso coerente */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Definisci il corpo con variabili CSS per il tema */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
