.ySelector {
  position: relative;
  z-index: 10;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
}


.card-wrapper {
    display: inline-flex;
    padding: 1rem;
    box-sizing: border-box;
}

/* Card fissa, tipo blocco, senza stiramenti */
.card {
    flex: 0 0 440px;
    /* Larghezza fissa */
    height: 310px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    color: white;
    padding: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    justify-items: baseline;
    text-align: justify;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.25));
    z-index: 1;
}

/* Overlay */
.card::before {    
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.25));
    z-index: 0;
}

/* Hover */
.card:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 30px rgba(255, 0, 0, 0.5);
}

.dettagli {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.card h3 {
    width: 100%;
    border-bottom: 1px solid white;
}