.divisore {
    display: flex;
}

.ySelector {
    position: relative;
    z-index: 10;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
}

.header,
h1 {
    text-align: center;
    margin: 1rem 0 0 0;
}

.card-wrapper {
    display: inline-flex;
    padding: 1rem;
    box-sizing: border-box;
}

/* Overlay */
.card:hover::before {
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: 14px;
    padding: 2px;
    background: conic-gradient(from 0deg,
            rgba(255, 0, 0, 0.8),
            rgba(255, 0, 0, 0) 20%,
            rgba(255, 0, 0, 0.8) 40%,
            rgba(255, 0, 0, 0) 60%,
            rgba(255, 0, 0, 0.8) 80%,
            rgba(255, 0, 0, 0) 100%);
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: card-lines 15s infinite;
    z-index: 0;
}

.card {
    flex: 0 0 440px;
    /* Larghezza fissa */
    height: 310px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    color: white;
    padding: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    justify-items: baseline;
    text-align: justify;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.450));
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* Hover */
.card:hover {
    animation: card-shadow 4s infinite;
    transform: scale(1.03);
}

@keyframes card-shadow {
  0%   { box-shadow: 0 0 10px rgba(255, 0, 0, 0.2); }
  50%  { box-shadow: 0 0 20px rgba(255, 0, 0, 0.7); }
  100% { box-shadow: 0 0 10px rgba(255, 0, 0, 0.2); }
}

@keyframes card-lines {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.card h3 {
    width: 100%;
    border-bottom: 1px solid white;
}

.dettagli {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
}

@media (max-width: 575px) {
    .card {
        flex: 0 0 375px;
    }
}