.app-footer {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 14px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  position: absolute;
  margin-right: 1rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  margin-top: 1rem;
}

.footer-links {
  text-align: center;
}
.footer-links a {
  color: #aaa;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.footer-links a:hover {
  color: #fff;
}

@media (max-width: 600px) {
  .footer-logo {
    position: static;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}