.app-footer {
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

.footer-logo {
  display: flex;
  position: absolute;
  left: 14%;
  top: 93%;
  transform: translateX(-50%);
}

.copyright {
  margin: 10px;
}

.footer-links a {
  color: #aaa;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.footer-links a:hover {
  color: #fff;
}
